body {
  font-family: Arial, sans-serif;
  background: #1a1a1a;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #f39c12;
  margin-bottom: 30px;
}

.calculatrice {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

#affichage {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: right;
  border-radius: 5px;
  border: none;
}

.avis-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.avis-header img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}


.clavier {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
}

button.special {
  background-color: #e67e22;
}

button:hover {
  background-color: #2980b9;
}

textarea {
  width: 300px;
  height: 100px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

select {
  font-size: 16px;
  margin-top: 10px;
}

#liste-avis {
  margin-top: 40px;
  text-align: left;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.avis {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  position: relative;
}

.like-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: none;
  color: gold;
  font-size: 20px;
  cursor: pointer;
}

#auth-section {
  margin: 20px 0;
}

.avis-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.avis-header img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

#affichage {
  color: white;
}

#liste-jeux {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.jeu-card {
  display: block;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .calculatrice {
    width: 100%;
    font-size: 16px;
  }

  #affichage {
    font-size: 20px;
  }

  .clavier button {
    font-size: 18px;
    padding: 10px;
  }

  textarea {
    width: 95%;
    font-size: 15px;
  }

  #liste-avis {
    padding: 0 10px;
  }
}


.jeu-card:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#fruit-stats {
  margin-top: 10px;
  font-size: 18px;
  color: #fff;
}

#fruit-stats em {
  color: #ccc;
  font-style: italic;
  margin-left: 8px;
}

.fruit {
  font-size: 22px;
}


